<div class="input-group form-group">
	<%= simple_form_for @post do |f| %>
		<%= f.input :title, label: false, placeholder: "Post title",  input_html: {size: 75}, class: "form-control" %><br/>
		<%= f.input :description, label: false, placeholder: "Post description",  input_html: {rows: 5, cols: 75}, class: "form-control" %><br/>
		<%= link_to "Back", post_path(@post), class: "btn btn-default margin-tb-15" %>
		<%= f.button :submit, class: "btn btn-primary" %>
	<% end %>
</div>
