<div class="row">
  <div class="form-group">
		<%= form_tag(posts_path, :method => "get", class: "pad-15", id: "search-form") do %>
		<%= text_field_tag :search, params[:search], placeholder: "Search Posts", class: "pad-3 col-sm-6" %>
    <%= select_tag :user_id, options_from_collection_for_select(fetch_all_users, 'id', 'name', params[:user_id]), prompt: "Select Author", onchange: "this.form.submit();	", class: "pull-right	" %>
		<%= submit_tag "Search", class: "btn btn-primary" %>
		<%= link_to "Clear", posts_path, class: "btn btn-default" %>
		<% end %>
	</div>
  <br/>

  <% if @posts.present? %>  
		<% @posts.each do |post| %>
		  <div class="col-xs-6 col-md-3">
		    <div class='post'>
		      <p class="pull-right"><%= post.get_upvotes.size%> <span class="glyphicon glyphicon-thumbs-up"></span></p>
		      <p class="pull-right "><%= post.comments.size %><span class="glyphicon glyphicon-pencil"> &nbsp;</span></p>
		      <h2 class='title'><%= link_to post.title.titleize , post %></h2>
		      <h5 class="text-left">
		        <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %>
		      </h5>	
		    </div>
		  </div>
		<% end %>
	</div>
<% else %>
  <p class="pad-15">No posts yet! hang on...</p>
<% end %>
<span>
  <%= link_to "New Post", new_post_url, class: "btn btn-primary" %>
</span>
<div class="clear">
  <%= paginate @posts, theme: 'twitter-bootstrap-3' %>
</div>	
